@import "imports.less";

.category {
	border: 1px @greyBlue solid;
	border-radius: @borderRadius;
	margin: @spacingNormal;
	padding: @spacingNormal;
	float: left;
	text-align: center;
	width: 20%;
}

.category-tags {
	max-height: 500px;
	overflow-y: auto;
}

.uncategorized {
	text-align: center;
}
