@import "imports.less";

.post-nav {
    top: 150px;
    margin: 0 @spacingWide @spacingWide @spacingWide;
}

.collections {
    text-align: center;

	.collection {
		@albumSize: 200px;
        position: relative;
	
        display: inline-block;
		margin: 0 0 @spacingWide @spacingWide;
		border-radius: @borderRadius;
		cursor: pointer;
		overflow: hidden;
		background-color: @white;
        max-width: @albumSize;

		.name, .artist {
			.ellipsis();
		}

        .name {
            margin-top: @spacingNarrow;
        }
	
		.details, .details-background {
            position: absolute;
            top: 0;
            left: 0;
            width: @albumSize;
            height: @albumSize;
        }

        .details-background {
            background-color: @white;
            opacity: 0.95;
        }

		.details {
            padding: @spacingNarrow;
            opacity: 1;
            text-align: left;

			.rating {
                width: 60px;
			}

            .ratings, .tags {
                text-align: center;
                line-height: 1.5;
            }
		}

		&:not(:hover) .details, &:not(:hover) .details-background {
		    display: none;
        }
	
		&.selected {
			opacity: 0.3;
		}
	
        // TODO: rename classes
		.mix, .album {
			border: 1px solid @grey;
		}
	
		.album {
			width: @albumSize;
			height: @albumSize;
		}
	
		.mix {
			width: @albumSize;
			height: @albumSize;
			padding: @spacingNarrow;
			div {
				max-width: @albumSize - 2 * @spacingNarrow;
                .ellipsis();
				&:not(:last-child) {
					margin-bottom: @spacingNarrow;
				}
			}
		}

        &.accepting-drop {
            background-color: lime;
        }
	}
}

#new-collection {
	.modal-header {
		input[type='text'] {
			width: 500;
		}

		input[type='checkbox'] {
			margin-left: @spacingNormal;
		}
	}

	.song {
		.ordinal {
			display: inline-block;
			font-size: @fontSizeLarge;
			margin: @spacingNormal;
		}

		input {
			margin-bottom: @spacingNormal;
			&[name='name'], &[name='artist'], &[name='seconds'] {
				margin-right: @spacingNormal;
			}
			&[name='name'] {
				width: 300px;
			}
			&[name='artist'] {
				width: 200px;
			}
			&[name='minutes'], &[name='seconds'] {
				width: @inputHeight;
				text-align: center;
			}
		}

		.glyphicon-trash {
			.clickable();
			margin-top: @spacingNormal;
		}
	}

	#add-song {
		button, input {
			width: @inputHeight;
			height: @inputHeight;
			text-align: center;
		}

		button {
			padding: 0;
			margin-right: @spacingNormal;

			.glyphicon {
				margin: 0 0 3px 3px;
			}
		}
	}
}

#album-cover-upload {
    //display: none;
}
