@import "imports.less";

.collection {
	@albumSize: 75px;

	float: left;
	margin: 0 0 @spacingWide @spacingWide;
	border-radius: @borderRadius;
	cursor: pointer;
	overflow: hidden;
	background-color: @white;

	&:not(.has-details) {
		.details, .track-list {
			display: none !important;	// override effect of jQuery show/hide
		}
	}

	&.has-details {
		border: 1px solid @greyLight;
		width: 225px;
		padding: @spacingNormal @spacingNormal 0 @spacingNormal;

		.details {
			*:not(.name) {
				color: @grey;
			}
			.name, .artist {
				.ellipsis();
			}
			.export-icons {
				float: right;
				span {
					cursor: pointer;
					margin-left: @spacingNarrow;
				}
			}
		}

		.track-list {
			display: none;
			ol {
				margin: @spacingNormal 0 @spacingNormal 0;
				padding-left: 20px;
			}
		}
	}

	&:not(:hover) {
		.export-icons {
			display: none;
		}
	}

	.mix, .album {
		border: 1px solid @grey;
		float: left;
		margin-right: @spacingNormal;
		margin-bottom: @spacingNormal;
	}

	.album {
		width: @albumSize;
		height: @albumSize;
	}

	.mix {
		width: @albumSize;
		height: @albumSize;
		padding: @spacingNarrow;
		div {
			text-align: center;
			font-size: 10px;
			max-width: @albumSize - 2 * @spacingNarrow;
			overflow-x: hidden;
			text-overflow: ellipsis;
			&:not(:last-child) {
				margin-bottom: 1px;
			}
			//line-height: 15px;
		}
	}
}

.controls {
	@width: 225px;

	margin: @spacingNormal;
	position: fixed;
	width: @width;
	top: @navHeight + @spacingNormal;
	bottom: 0;
	overflow-x: visible;
	overflow-y: scroll;

	label {
		display: block;
	}

	input[type="text"] {
		width: @width;
		margin-bottom: 10px;
	}

	input[type="checkbox"] {
		margin: 0 @spacingNarrow @spacingNarrow 0;
	}

	.sort-menu {
		.dropdown-toggle, .dropdown-toggle:hover {
			background-color: @white;
			text-decoration: none;
			color: @greyDarkest;
		}
	}
}

#export-list {
	.subtle {
		text-align: center;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			padding: 0 0 @spacingNormal 0;
			line-height: 20px;

			.glyphicon {
				margin-left: 5px;
float: right;
				.clickable();
			}
		}
	}
}

.export-list-active {
	background-color: @white;
}

.export-list-hover {
	background-color: @greyLightest;
}
