@import "imports.less";

.btn-group > .btn.active {
	z-index: 1;
}

.color {
	float: left;
	width: 325px;
	padding: @spacingNormal;

    input, .btn-group {
        margin-top: @spacingNormal;
    }
}
