@import "imports.less";

@barColor: #31b0d5;	// bootstrap "info"

.background-with-states(@color) {
	fill: @color;
	&.highlighted {
		fill: lighten(@color, 5%);
	}
	&.selected {
		fill: darken(@color, 25%);
	}
}

svg {
	rect, circle, text {
		cursor: pointer;
	}
	rect, circle {
		.background-with-states(@barColor);
	}
	path {
		stroke-width: 2px;
		fill: none;
		stroke: @barColor;
	}
	text {
		fill: @white;
		font: @fontSizeDefault sans-serif;
		text-anchor: middle;
	}
	line {
		stroke-width: 2;
		stroke: @grey;
	}
	.axis {
		stroke-width: 1px;	// hand-drawn

		path, line {	// d3-generated paths and ticks
			display: none;
		}

		text {
			cursor: auto;
			fill: @grey;
		}
	}
}

#song-list {
    .modal-dialog {
        min-width: 80%;

        .modal-body {
            min-width: 100px;
        }
    }
}
