@import "imports.less";

#sql-error {
	font-family: monospace;
}

#filter-container {
	text-align: center;
	position: fixed;
	width: 100%;
	top: 80px;
	z-index: 3;

	#simple-filter {
		position: relative;
		margin: 0 35%;
        height: 50px;
        text-align: center;

		#filter {
			margin: @spacingNarrow;
			width: 100%;
		}
        #last-query {
            position: absolute;
            right: 5px;
            top: 15px;
        }

        .glyphicon-remove {
            cursor: pointer;
        }
	}

	#complex-filter-trigger {
		.glyphicon {
			cursor: pointer;
			color: @linkColor;
			display: inline-block;
			margin-left: @spacingNormal;
		}

		// center text, not text + icons
		&.icon-count-1 {
			padding-left: @fontSizeDefault + @spacingNormal;
		}
		&.icon-count-2 {
			padding-left: (@fontSizeDefault + @spacingNormal) * 2;
		}
	}
}

#complex-filter {
	display: none;
	text-align: center;

	.playlists {
		list-style-type: none;
		line-height: 2;
		.glyphicon {
			color: @greyLight;
			cursor: pointer;
		}
	}

	textarea, input {
		width: 100%;
		margin-bottom: @spacingNormal;
	}

	textarea {
		padding: @spacingNarrow;
		border-radius: @borderRadius;
		border-color: @greyLight;
	}

	.group:not(:last-child) {
		margin-bottom: 25px;
	}

	button {
		width: 155px;

		&:not(:last-child) {
			margin-right: 25px;
		}
	}
}
