@import "imports.less";

body { 
	background-color: @white;
	color: @greyDarkest; 
}

body, p, ol, ul, td, th {
  font-family: helvetica, arial, sans-serif;
  font-size: @fontSizeDefault;
  line-height: 15px;
}

label {
	.clickable();
}

.clear {
	clear: both;
}

.subtle {
	color: @grey;
}

.navbar-container {
	position: fixed;
	padding: @spacingWide @spacingWide 0 @spacingWide;
	width: 100%;
	z-index: 3;

	.navbar {
		margin: 0;
	}
}

.post-nav {
	position: fixed;
	top: @navHeight;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: auto;
	margin: @spacingWide;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, #song-table-container tr:first-child td {
	text-align: left;
	padding: 0 2px;
	background: @white;
	border: none;
}
th {
	border-bottom: 1px solid @black;
}

td, th {
  margin: 1px;
  padding: 2px 5px;
	vertical-align: top;
}

input[type="text"] {
	height: 35px;
	border: 1px solid #ccc;
	border-radius: @borderRadius;
	padding: 5px;
}

th {
  text-align: left;
  padding-right: 10px;
  font-weight: bold;
}

.rating {
	font-family: courier;
	font-size: 18px;
	white-space: nowrap;
	display: inline-block;
	vertical-align: middle;
	.glyphicon {
		color: @grey;
		font-size: @fontSizeDefault;
		margin-left: -4px;	// cram icons together horizontally
		&.blank {
			color: @greyLightest;
		}
	}
}

.slider {
	width: 400px;
}

pre {
  background-color: @greyLightest;
  padding: @spacingNormal;
  font-size: 11px;
}

a { color: @black; }
a:visited { color: @greyDark; }
a:hover { color: @white; background-color: @black; }

.horizontal li {
	display: inline;
	list-style-type: none;
	padding-right: @spacingWide;
}

.tag, #song-count-span {
	border-radius: @borderRadius;
	font-size: 12px;
	font-weight: bold;
	margin-right: @spacingNormal;
	margin-bottom: @spacingNormal;
	display: inline;
	line-height: 3;
	padding: 3px 8px;
	background-color: #deedf7;
	border: 1px solid #aed0ea;
	white-space: nowrap;
}

.tag-count {
	font-size: 10px;
	margin-left: 8px;
}

.location.btn-group, .navbar .export-button {
	margin-top: 14px;
	margin-right: 14px;
}

.page {
	padding-top: 20px;
	display: none;
}

ul.plain {
	margin: 0;
	padding: 0;

	li {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
}

#sliders {
	th, td {
		vertical-align: middle;
		height: 30px;
	}
}

td.update-in-progress {
	background-color: @updateInProgressColor !important;
}

.modal-dialog .close {
	margin: 15px;
}

#initial-page-data {
	display: none;
}
