@fontSizeDefault: 12px;
@fontSizeLarge: 18px;

@spacingNarrow: 5px;
@spacingNormal: 10px;
@spacingWide: 20px;

@inputHeight: 35px;
@navHeight: 75px;

@borderRadius: 4px;

@greyBlue: #aed0ea;

@black: #000;
@greyDarkest: #333;
@greyDark: #666;
@grey: #999;
@greyLight: #ccc;
@greyLightest: #eee;
@white: #fff;

@updateInProgressColor: #ffc;

@backgroundColor: @white;
@linkColor: @greyBlue;

.clickable() {
	cursor: pointer;
}

.ellipsis() {
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}
