@import "imports.less";

.post-nav {
	overflow-y: none;
}

#song-count-container {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-weight: bold;

	#song-count-span {
		border-radius: @borderRadius;
		position: relative;
		z-index: 3;
	}
}

#song-table-container {
	position: fixed;
	top: 150px;
	left: @spacingWide;
	right: @spacingWide;
	bottom: 40px;
	z-index: 1;
	overflow-y: auto;

	table {
		td {
			border: none;
			vertical-align: middle;

			&:not(:first-child) {
				border-bottom: 1px solid @greyLightest;
			}

			&:last-child {
				width: 35%;
			}

			&[contenteditable="true"] {
				cursor: pointer;
			}

			&.isstarred {
				width: @fontSizeDefault + @spacingNarrow * 2;
				color: @greyLight;
				background-color: @backgroundColor;
				border: none;
				text-align: right;
				.glyphicon {
					cursor: pointer;
					&.glyphicon-star {
						color: @grey;
					}
					&.update-in-progress {
						background-color: @white;
						color: @updateInProgressColor;
					}
				}
			}

			&.rating {
				width: @fontSizeDefault * 5 + @spacingNarrow * 2;
				.glyphicon {
					margin-left: -1px;	// cram icons together horizontally
				}
			}
		}
	}
}

#complex-filter {
	display: none;
	text-align: center;

	#column-hints {
		line-height: 1.5;
	}

	.playlists {
		list-style-type: none;
		line-height: 2;
		.glyphicon {
			color: @greyLight;
			cursor: pointer;
		}
	}

	textarea, input {
		width: 100%;
		margin-bottom: @spacingNormal;
	}

	textarea {
		padding: @spacingNarrow;
		border-radius: @borderRadius;
		border-color: @greyLight;
	}

	.group:not(:last-child) {
		margin-bottom: 25px;
	}

	button {
		width: 155px;

		&:not(:last-child) {
			margin-right: 25px;
		}
	}
}

#top-veil, #bottom-veil {
	background-color: @white;
	left: 0;
	right: 0;
	z-index: 2;
}

#top-veil {
	position: fixed;
	top: 0;
	height: 150px;
}

#bottom-veil {
	padding: 15px;
	position: absolute;
	top: 0;
	bottom: 0;
}
