@import "imports.less";

.post-nav {
	overflow-y: none;
}

#song-count-container {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 14px;

	#song-count-span {
		position: relative;
		z-index: 3;
	}
}

.complex-filter-container {
	text-align: center;
	position: fixed;
	width: 100%;
	top: 80px;
	z-index: 3;
}

#complex-filter textarea {
	margin: 0 @spacingNarrow;
	padding: @spacingNarrow;
	border-radius: @borderRadius;
	border-color: @greyLight;
}

#simple-filters {
	width: 100%;
	position: fixed;
	z-index: 3;
	top: 200px;

	input {
		height: 35px;
		border: 1px solid #ccc;
		border-radius: @borderRadius;
		margin: 5px;
		padding: 5px;
		position: absolute;
	}
}

#song-table-container {
	position: fixed;
	top: 245px;
	left: @spacingWide;
	right: @spacingWide;
	bottom: 40px;
	z-index: 1;
	overflow-y: auto;

	table {
		td {
			border: none;
			max-width: 200px;	// hacky way to fiddle with column widths

			&[contenteditable="true"] {
				cursor: pointer;
			}

			&:first-child {	// ID column
				display: none;
			}

			&.isstarred {
				color: @greyLight;
				background-color: @backgroundColor;
				border: none;
				text-align: right;
				.glyphicon {
					cursor: pointer;
					&.glyphicon-star {
						color: @grey;
					}
					&.update-in-progress {
						background-color: @white;
						color: @updateInProgressColor;
					}
				}
			}

			&.name {
				border-left: none;
			}
		}

		.google-visualization-table-tr-head {
			display: none;
		}
	}
}

#helpers {
	display: none;

	.modal-body {
		text-align: center;
	}

	.group:not(:last-child) {
		margin-bottom: 25px;
	}

	button {
		width: 155px;

		&:not(:last-child) {
			margin-right: 25px;
		}
	}
}

#helpers-trigger {
	cursor: pointer;
}

#top-veil, #bottom-veil {
	background-color: @white;
	opacity: 0.9;
	left: 0;
	right: 0;
	z-index: 2;
}

#top-veil {
	position: fixed;
	top: 0;
	height: 210px;
}

#bottom-veil {
	padding: 15px;
	position: absolute;
	top: 0;
	bottom: 0;
}
